

.headder {
	width: 250px;
	text-align: center;
	border: 10px solid black;
  margin-left: 5px;
	margin-right: auto;
	padding: 2px;
	box-sizing: border-box;
	float: left;
}

.portfolio-pic {
	border: solid black;
	border-width: 5px;
	margin-top: 12px;
	margin-right: 10px;
	margin: auto;
	padding: 2px;
	width: 215px;
	height: auto;
	box-sizing: border-box;
}
.about-me {

	margin-top: 20px;
	margin-left: 30%;
	float: center;

}

li,

.about-me {
	margin-top: 12px;
}


body {
	background-color: lightblue;
}