.sidebar {
	border: 10px solid black;
	width: 250px;
	float: left;
	box-sizing: border-box;
	margin: auto;
	position: fixed;
}

.heading {
	text-align: center;
	margin-left: 5px;
	margin-right: auto;
	padding: 2px;
}

.portfolio-pic {
	border: solid black;
	border-width: 5px;
	margin-top: 12px;
	margin-right: 10px;
	margin: auto;
	padding: 2px;
	width: 215px;
	height: auto;
	box-sizing: border-box;
}

.about-me {
	margin-top: 20px;
	float: center;
}

.main-body {
	margin: auto;
	margin-left: 30%;
	float: center;
}

li,

.main-body{
	margin-top: 12px;
}

.language {
	float: left;
	margin-top: 30px;
	width: 200px;
	text-align: left;
  margin-left: 5px;
	margin-right: auto;
	padding: 2px;
	box-sizing: border-box;
	float: left;
}
.img-thumbnail{
	float: left;
	width: 30px;
	height: auto;
}

body {
	background-color: lightblue;
}
.high-light{
	font-family: helvetica;
}